

<div class="container">
  <!-- <img src="../../../assets/images/house.png">     -->
  <img src ="assets/images/house.png" width="100%" height="100%">
     <h5>re<span style="color: red;">Q</span></h5>
     <h2 class="HeadingTag">Real Estate Investing Information </h2>
     <h2 class="HeadingTag">Thats Matters To You </h2>
     <p class="para"> Limited to the San Francisco Bay Area--Join our BETA</p>
     
        
    
       <button class="bbtn" (click)="onClick()">Sign Up With Linkdin</button> 
  
</div>

