





<div class="col-md-12 col-lg-12">
    
    <div class="col-md-1"></div>
    <div class="col-md-4">
    <br>
    <br>
    <br>
      
        <hr>


     
            <div class="form-group">
                <label class="reglabel" for="Name">Product Name:</label>
                <input type="text" class="form-control" [(ngModel)]="FormModel.ProductName" id="Name"  placeholder="Enter Product Name">
              </div>
            <div class="form-group">
              <label class="reglabel" for="EmailId">Price:</label>
              <input type="email" class="form-control"  [(ngModel)]="FormModel.Price" id="Price" placeholder="Enter Price">
            </div>
           
            <div class="form-group">
                <label class="reglabel" for="PhoneNo">Size :</label>
                <!-- <select class="form-control" [(ngModel)]="FormModel.SizeId" id="SizeId" >
                  <option selected>--Select Size--</option>
                  <option> S </option>
                  <option>M</option>
                   <option>L</option>  
              


                </select> -->
                <input type="text" class="form-control" [(ngModel)]="FormModel.SizeName" id="SizeName" placeholder="Enter Size">

              </div>

              <div class="form-group">
                <label class="reglabel" for="PhoneNo">Stock  :</label>
                <input type="text" class="form-control" [(ngModel)]="FormModel.Stock" id="Stock" placeholder="Enter Stock">
              </div>

              <div class="form-group">
                <label class="reglabel" for="PhoneNo">Product Description  :</label>
                <input type="text" class="form-control" [(ngModel)]="FormModel.ProductDescription" id="ProductDescription" placeholder="Product Description">
              </div>

              <hr>
              <button class="bbtnsign" (click)="Signup()">Submit </button>
           
         
    </div>
    <br>
    <br>
    <br>
    <div class="col-md-7">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Size</th>
          <th>Stock</th>
          <th>Product Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of ProductList ; let i=index">
          <td>{{obj.ProductName}}</td>
          <td>{{obj.Price}}</td>
          <td>{{obj.SizeName}}</td>
          <td>{{obj.Stock}}</td>
          <td>{{obj.ProductDescription}}</td>
          <td><button type="button" class="btn btn-warning" (click)="EditRecord(obj)">Edit</button> &nbsp; &nbsp;
            <button type="button" class="btn btn-danger" (click)="DeleteRecord(i)">Delete</button></td>
        </tr>
       
      </tbody>
    </table>
  </div>
</div>

